@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?87d2rh");
	src: url("../fonts/icomoon.eot?87d2rh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?87d2rh") format("truetype"), url("../fonts/icomoon.woff?87d2rh") format("woff"), url("../fonts/icomoon.svg?87d2rh#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dots:before {
	content: "\e902";
}

.icon-right:before {
	content: "\e900";
}

.icon-search:before {
	content: "\e901";
}

.icon-facebook:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea96";
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

#header {
	position: relative;
	padding: .75rem 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

#header.header-fixed {
	z-index: 2;
	box-shadow: 0 7px 9px rgba(0, 0, 0, .3);
}

.nav-opener {
	display: block;
	margin: 0 auto;
	width: 48px;
	height: 48px;
	position: relative;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 5%;
	right: 5%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 7px;
	border-radius: .625rem;
	margin-top: 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 25%;
}

.nav-opener:after {
	top: 77%;
}

#nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
	font-size: 1.1875rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	margin: 0;
}

#nav li {
	padding: 0 1.125rem;
	margin: 0;
}

#nav li:last-child {
	padding: 0 0 0 1.125rem;
}

#nav li a {
	display: block;
	text-decoration: none;
	padding: 0;
	margin: 0 0 .625rem;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

#nav li a.active,
#nav li a:hover {
	color: #fc7070;
}

.landuage {
	font-size: 1.1875rem;
	font-weight: 700;
	margin: 0 -.625rem;
}

.landuage li {
	padding: 0 .375rem;
}

.landuage li a {
	display: block;
	position: relative;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.landuage li a:before {
	content: "";
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	top: .75rem;
	left: -.75rem;
	width: .375rem;
	height: .375rem;
	background-color: #fc7070;
}

.landuage li a.active:before {
	opacity: 1;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

.box-nav {
	padding: 2rem 0;
}

.form-inline {
	margin: 0 0 1.25rem;
}

.form-inline .btn-holder {
	display: block;
	width: 100%;
}

.form-inline .search-open {
	background: none;
	cursor: pointer;
	font-size: 1.1875rem;
	font-weight: 700;
	letter-spacing: .5px;
	padding: 0 2.1875rem 0 .5rem;
	color: #fff;
}

.form-inline .search-open:focus {
	outline: none;
}

.form-inline .search-open:after {
	display: none;
}

.form-inline .search-open .icon-search {
	font-size: 1.125rem;
	top: 6px;
	right: 4px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.form-inline .dropdown-menu {
	top: -5px !important;
	right: 0 !important;
	left: inherit !important;
	padding: 0 !important;
	margin: 0;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}

.form-inline .dropdown-menu button[type="submit"] {
	top: 0;
	right: 0;
	font-size: 1.125rem;
	padding: .375rem .75rem .125rem;
	color: #495057;
	height: 37px;
	margin: 0 !important;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.form-control {
	width: 100%;
	background-color: #fff;
	font-size: .875rem;
	font-weight: 700;
	padding: .4375rem 2.5rem .4375rem .625rem;
	height: 37px;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.img-holder .image-bg-desktop,
.img-holder .image-bg-desktop-2 {
	min-height: 347px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.img-holder .image-bg-desktop-2 {
	min-height: 138px !important;
}

.img-holder .image-bg-desktop-2 .content-banner-2 .caption {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 140px;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
}

.img-holder .image-bg-desktop-2 .content-banner-2 .image-bg {
	margin: 0 2% 0 -10%;
	display: none;
}

.img-holder .image-bg-desktop-2 .content-banner-2 .image-bg img {
	min-width: 99px;
	height: 82px;
}

.img-holder .image-bg-desktop-2 .content-banner-2 h1 {
	font-weight: 700;
	text-align: center;
	max-width: 80%;
	display: inline-block;
}

.content-banner,
.content-banner-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	bottom: 0;
	top: 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	left: 0;
	right: 0;
}

.content-banner .image-bg {
	top: 2.1875rem;
	position: relative;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.content-banner .image-bg img {
	min-width: 179px;
	height: 148px;
}

.content-banner .caption {
	width: 100%;
	color: #fff;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 140px;
	background-color: rgba(0, 0, 0, .6);
	position: absolute;
	text-align: center;
	padding: 2% 13%;
}

.content-banner .caption h1 {
	font-weight: 700;
	text-shadow: 0 2px 4px rgba(131, 131, 131, .5);
}

.text-grup {
	padding: 1.5625rem 0 0;
}

.header-grup {
	margin: 0 0 2.8125rem;
	position: relative;
}

.header-grup:after {
	content: "\e902";
	position: absolute;
	font-family: "icomoon";
	font-size: .4375rem;
	color: #142f36;
}

.header-grup h2 {
	color: #142f36;
	font-weight: 700;
	margin: 0 0 .9375rem;
}

.content-text {
	font-weight: 500;
	margin: 0 0 1.875rem;
	padding: 0 .3125rem 0 0;
	line-height: 1.6;
}

.content-text:first-child {
	margin: 0;
}

.content-text .header-text {
	padding: 0 1.25rem 0 0;
}

.content-text .header-text h2 {
	font-weight: 700;
	color: #fc7070;
}

.content-text .header-text span {
	font-weight: 400;
}

.content-text .btn {
	color: #fc7070;
	position: relative;
	padding: 0;
	margin: 0 0 .375rem;
	font-weight: 500;
}

.content-text .btn:after {
	content: "\e900";
	top: .5625rem;
	right: -.625rem;
	position: absolute;
	font-family: "icomoon" !important;
	font-size: 8px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.content-text .btn:hover {
	color: #fc7070;
}

.content-text .btn:hover:after {
	right: -.9375rem;
}

.post-section {
	padding: 1.125rem 0 .625rem;
	background-color: #f2f0f0;
}

.post-block {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	min-height: 29.25rem;
	border: 1px solid #346773;
	background-color: #fff;
}

.post-block .head-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	padding: .5rem .8125rem;
	background-color: #346773;
}

.post-block .head-block .icon-img {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	position: relative;
	margin: 0 .9375rem 0 0;
}

.post-block .head-block .icon-img i {
	color: #fc7070;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.post-block .head-block h2 {
	margin: 0;
	font-weight: 700;
}

.post-block .article-block {
	line-height: 1.7;
	padding: 1.25rem .9375rem;
}

.post-block .article-block .visual {
	min-height: 180px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.post-block h3 {
	color: #fff;
	font-weight: 700;
	font-size: 2.25rem;
}

.title-img .rectangle {
	width: 55px;
	height: 55px;
	margin: 0 .625rem 0 0;
}

.title-img .rectangle img {
	width: 55px;
	height: 55px;
}

.article-text {
	font-size: 1rem;
	font-weight: 500;
	margin: 0 0 1.125rem;
}

.article-text:last-child {
	margin: 0;
}

.article-text time {
	font-weight: 400;
	font-size: .875rem;
}

.article-text p {
	margin: 0;
}

.link-box a .post-block {
	background-color: #346773;
	opacity: 1;
}

.link-box a .post-block .icon-img {
	width: 107px;
	height: 107px;
	background: #fff;
	border-radius: 50%;
	position: relative;
}

.link-box a .post-block .icon-img i {
	position: absolute;
	font-size: 4.6875rem;
	color: #fc7070;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.link-box a:hover .post-block {
	opacity: .9;
}

aside #side-menu {
	padding: 1.25rem 0 0;
}

aside #side-menu .list-unstyled {
	line-height: 1.5;
	padding: 0 0 0 .9375rem;
}

aside #side-menu .list-unstyled > li {
	padding: .5625rem 0;
	position: relative;
}

aside #side-menu .list-unstyled > li a {
	color: #4a4a4a;
	font-weight: 700;
	font-size: 1.25rem;
	-webkit-transition: color .3s linear;
	transition: color .3s linear;
}

aside #side-menu .list-unstyled > li a.active,
aside #side-menu .list-unstyled > li a:hover {
	height: 1px;
	border-bottom: 2px solid #fc7070;
}

aside #side-menu .list-unstyled > li a i {
	top: 17px;
	margin: 0 0 0 -15px;
	position: absolute;
	font-size: .6875rem;
	color: #fc7070;
}

aside #side-menu .list-unstyled > li a i.rotate-icon {
	margin: 0 0 0 -17px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

aside #side-menu .list-unstyled > li .list-in {
	line-height: 1.15;
	letter-spacing: .5px;
	padding: 0 .625rem 0 2.125rem;
}

aside #side-menu .list-unstyled > li .list-in li {
	padding: .75rem 0;
}

aside #side-menu .list-unstyled > li .list-in li > a {
	font-weight: 500;
}

.main-text {
	padding: .3125rem 0;
}

.main-text .post {
	color: #142f36;
}

.main-text .post .main-post {
	margin: 0 0 .625rem;
}

.main-text .post .main-post h2 {
	font-size: 2.25rem;
	font-weight: 700;
	margin: 0 0 .625rem;
}

.main-text .post .main-post .part-content h3 {
	margin: 0 0 2.5rem;
}

.main-text .post .main-post .part-content h3 p {
	margin: 0;
}

.main-text .post .main-post .part-post h3 {
	margin: 0 0 .3125rem;
}

.main-text .post .main-post .part-content,
.main-text .post .main-post .part-post {
	font-size: 1.125rem;
	font-weight: 500;
	padding: 0;
}

.main-text .post .main-post .part-content h3,
.main-text .post .main-post .part-post h3 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.4;
}

.main-text .post .main-post .part-content h4,
.main-text .post .main-post .part-post h4 {
	font-weight: 700;
	margin: 0 0 .625rem !important;
}

.main-text .post .main-post .part-content p,
.main-text .post .main-post .part-post p {
	margin: 0 0 1.5625rem;
}

.main-text .post .main-post a {
	color: #fc7070;
}

.main-text .post .main-post a:hover {
	border-bottom: 2px solid #fc7070;
}

.post-image {
	margin: 0 0 .875rem;
}

.post-image .image-bg {
	min-height: 12.8125rem;
	margin: 0 0 .625rem;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.post-image .caption {
	color: #4a4a4a;
	line-height: 1.2;
	display: block;
}

#footer {
	padding: 1.25rem 0;
	background: #346773;
	position: relative;
}

#footer a,
#footer address {
	color: #fff;
	font-size: 1.125rem;
	font-weight: 700;
}

#footer a {
	text-decoration: none;
}

.link-col {
	line-height: 1.35;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.link-col a {
	display: inline-block;
	margin: 0 0 .9375rem;
}

.link-col a i {
	position: relative;
	top: -1px;
	right: 0;
	font-size: .625rem;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.link-col a:hover i {
	right: -10px;
}

.social-networks {
	padding: 0 .3125rem;
}

.social-networks li {
	margin-right: 1.25rem;
}

.social-networks li a {
	color: #fc7070 !important;
	font-size: 1.875rem !important;
	background: #fff;
	border-radius: 50%;
	width: 3.125rem;
	height: 3.125rem;
	padding: .625rem;
	opacity: 1;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.social-networks li a:hover {
	opacity: .8;
}

body {
	min-width: 320px;
}

@media (min-width: 576px) {
	.img-holder .image-bg-desktop-2 .content-banner-2 .image-bg {
		display: block;
	}

	.img-holder .image-bg-desktop-2 .content-banner-2 h1 {
		max-width: 70%;
	}

	.post-block .article-block .visual {
		min-height: 280px;
	}
}

@media (min-width: 768px) {
	.post-block .article-block .visual {
		min-height: 430px;
	}

	.main-text {
		padding: 2.1875rem 0 5.125rem;
	}
}

@media (min-width: 992px) {
	#header.header-fixed {
		padding: 1.875rem 0 .9375rem;
	}

	.nav-opener {
		display: none;
	}

	#nav {
		padding: 0;
	}

	#nav li a {
		background-color: transparent;
	}

	.box-nav {
		padding: 0;
	}

	.form-inline {
		margin: 0 2rem 0 0;
	}

	.img-holder .image-bg-desktop,
	.img-holder .image-bg-desktop-2 {
		min-height: 420px;
	}

	.img-holder .image-bg-desktop-2 .content-banner-2 h1 {
		max-width: 565px;
		font-size: 2rem;
	}

	.content-banner .image-bg {
		top: 3.75rem;
	}

	.content-banner .image-bg img {
		min-width: 205px;
		height: 169px;
	}

	.content-banner .caption {
		padding: 2% 13%;
	}

	.content-banner .caption h1 {
		max-width: 565px;
		font-size: 2rem;
		display: inline-block;
	}

	.post-section {
		padding: 2.375rem 0;
	}

	.post-block .article-block {
		padding: 1.25rem;
	}

	.post-block .article-block .visual {
		min-height: 180px;
	}

	aside #side-menu {
		padding: 1.25rem 0;
	}

	.main-text .post .main-post .part-content h3 {
		margin: 0 0 1.875rem;
	}

	.main-text .post .main-post .part-content h3 p {
		margin: 0 0 1.5625rem;
	}

	.main-text .post .main-post .part-content,
	.main-text .post .main-post .part-post {
		padding: 0 5.625rem 0 0;
	}

	.main-text .post .main-post .part-content h4,
	.main-text .post .main-post .part-post h4 {
		margin: 0;
	}

	.post-image {
		margin: 0 0 1.5625rem;
	}

	.post-image .image-bg {
		min-height: 430px;
	}

	#footer {
		padding: 2.1875rem 0;
	}
}

@media (max-width: 991px) {
	.drop {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		opacity: 0;
		background-color: #346773;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
	}

	.nav-active .drop {
		opacity: 1;
		position: absolute;
		visibility: visible;
		z-index: 2;
		box-shadow: 0 7px 9px rgba(0, 0, 0, .3);
	}

	#nav li {
		width: 100%;
		padding: .75rem 1.125rem;
	}

	#nav li:last-child {
		padding: .8125rem 0;
	}

	.form-inline .dropdown-menu {
		right: -60% !important;
	}
}

@media (max-width: 767px) {
	.form-inline .dropdown-menu {
		right: -40% !important;
	}
}

@media (max-width: 375px) {
	.img-holder .image-bg-desktop-2 .content-banner-2 h1 {
		font-size: 1.5rem;
	}

	.content-banner .caption h1 {
		font-size: 1.5rem;
	}
}
