#wrapper {
	position: relative;
	overflow: hidden;
}

.img-holder {
	.image-bg-desktop,
	.image-bg-desktop-2 {
		min-height: 347px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		position: relative;
		@include media('>=desktop') {
			min-height: 420px;
		}
	}
	.image-bg-desktop-2 {
		min-height: 138px !important;
		.content-banner-2 {
			.caption {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				max-height: 140px;
				color: $white;
				background-color: rgba($black, .5);
			}
			.image-bg {
				margin: 0 2% 0 -10%;
				display: none;
				@include media('>=phone') {
					display: block;
				}
				img {
					min-width: 99px;
					height: 82px;
				}
			}
			h1 {
				font-weight: 700;
				text-align: center;
				max-width: 80%;
				display: inline-block;
				@include media('<=375px') {
					font-size: rem-calc(24);
				}
				@include media('>=phone') {
					max-width: 70%;
				}
				@include media('>=desktop') {
					max-width: 565px;
					font-size: rem-calc(32);
				}
			}
		}
	}
}

.content-banner,
.content-banner-2 {
	display: flex;
	position: absolute;
	align-items: center;
	flex-direction: column;
	bottom: 0;
	top: 0;
	justify-content: space-between;
	left: 0;
	right: 0;
}

.content-banner {
	.image-bg {
		top: rem-calc(35);
		position: relative;
		margin: 0 auto;
		background-repeat: no-repeat;
		@include media('>=desktop') {
			top: rem-calc(60);
		}
		img {
			min-width: 179px;
			height: 148px;
			@include media('>=desktop') {
				min-width: 205px;
				height: 169px;
			}
		}
	}
	.caption {
		width: 100%;
		color: $white;
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 140px;
		background-color: rgba($black, .6);
		position: absolute;
		text-align: center;
		padding: 2% 13%;
		@include media('>=desktop') {
			padding: 2% 13%;
		}
		h1 {
			// margin: 0;
			font-weight: 700;
			text-shadow: 0 2px 4px rgba($gray, 0.5);
			@include media('<=375px') {
				font-size: rem-calc(24);
			}
			@include media('>=desktop') {
				max-width: 565px;
				font-size: rem-calc(32);
				display: inline-block;
			}
		}
	}
}

.text-grup {
	padding: rem-calc(25 0 0);
}

.header-grup {
	margin: rem-calc(0 0 45);
	position: relative;
	&:after {
		content: "\e902";
		position: absolute;
		font-family: 'icomoon';
		font-size: rem-calc(7);
		color: $big-stone;
	}
	h2 {
		color: $big-stone;
		font-weight: 700;
		margin: rem-calc(0 0 15);
	}
}

.content-text {
	font-weight: 500;
	margin: rem-calc(0 0 30);
	padding: rem-calc(0 5 0 0);
	line-height: 1.6;
	&:first-child {
		margin: 0;
	}
	.header-text {
		padding: rem-calc(0 20 0 0);
		h2 {
			font-weight: 700;
			color: $bittersweet;
		}
		span {
			font-weight: 400;
		}
	}
	.btn {
		color:  $bittersweet;
		position: relative;
		padding: 0;
		margin: rem-calc(0 0 6);
		font-weight: 500;
		&:after {
			content: "\e900";
			top: rem-calc(9);
			right: rem-calc(-10);
			position: absolute;
			font-family: "icomoon" !important;
			font-size: 8px;
			transition: $animation-speed;
		}
		&:hover {
			color:  $bittersweet;
			&:after {
				right: rem-calc(-15);
			}
		}
	}
}

.post-section {
	padding: rem-calc(18 0 10);
	background-color: $seashell;
	@include media('>=desktop') {
		padding: rem-calc(38 0);
	}
}

.post-block {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	min-height: rem-calc(468);
	border: 1px solid $casal;
	background-color: $white;

	@include media('>=desktop') {

	}
	.head-block {
		display: flex;
		align-items: center;
		color: $white;
		padding: rem-calc(8 13);
		background-color: $casal;
		.icon-img {
			width: 50px;
			height: 50px;
			background: $white;
			border-radius: 50%;
			position: relative;
			margin: rem-calc(0 15 0 0);
			i {
				color: $bittersweet;
				font-size: rem-calc(32);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		h2 {
			margin: 0;
			font-weight: 700;
		}
	}
	.article-block {
		line-height: 1.7;
		padding: rem-calc(20 15);
		@include media('>=desktop') {
			padding: rem-calc(20);
		}
		.visual {
			min-height: 180px;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			@include media('>=phone') {
				min-height: 280px;
			}
			@include media('>=tablet') {
				min-height: 430px;
			}
			@include media('>=desktop') {
				min-height: 180px;
			}
		}
	}
	h3 {
		color: $white;
		font-weight: 700;
		font-size: rem-calc(36);
	}
}

.title-img {
	.rectangle {
		width: 55px;
		height: 55px;
		margin: rem-calc(0 10 0 0);
		img {
			width: 55px;
			height: 55px;
		}
	}
}

.article-text {
	font-size: rem-calc(16);
	font-weight: 500;
	margin: rem-calc(0 0 18);
	&:last-child {
		margin: 0;
	}
	time {
		font-weight: 400;
		font-size: rem-calc(14);
	}
	p {
		margin: 0;
	}
}

.link-box {
	a {
		.post-block {
			background-color: $secondary;
			opacity: 1;
			.icon-img {
				width: 107px;
				height: 107px;
				background: $white;
				border-radius: 50%;
				position: relative;
				i {
					position: absolute;
					font-size: rem-calc(75);
					color: $bittersweet;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		&:hover {
			.post-block {
				opacity: .9;
			}
		}
	}
}

aside {
	#side-menu {
		padding: rem-calc(20 0 0);
		@include media('>=desktop') {
			padding: rem-calc(20 0);
		}
		.list-unstyled {
			line-height: 1.5;
			padding: rem-calc(0 0 0 15);
			> li {
				padding: rem-calc(9 0);
				position: relative;
				a {
					color: $tundora;
					font-weight: 700;
					font-size: rem-calc(20);
					transition: color 0.3s linear;
					// transition: $animation-speed;
					&.active,
					&:hover {
						height: 1px;
						border-bottom: 2px solid $bittersweet;
					}
					i {
						top: 17px;
						margin: 0 0 0 -15px;
						position: absolute;
						font-size: rem-calc(11);
						color: $bittersweet;
						&.rotate-icon {
							margin: 0 0 0 -17px;
							transform: rotate(90deg);
						}
					}
				}
				.list-in {
					line-height: 1.15;
					letter-spacing: 0.5px;
					padding: rem-calc(0 10 0 34);
					li {
						padding: rem-calc(12 0);
						> a {
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}

.main-text {
	padding: rem-calc(5 0);
	@include media('>=tablet') {
		padding: rem-calc(35 0 82);
	}
	.post {
		color: $big-stone;
		.main-post {
			margin: rem-calc(0 0 10);
			h2 {
				font-size: rem-calc(36);
				font-weight: 700;
				margin: rem-calc(0 0 10);
			}
			.part-content {
				h3 {
					margin: rem-calc(0 0 40);
					@include media('>=desktop') {
						margin: rem-calc(0 0 30);
					}
					p {
						margin: 0;
						@include media('>=desktop') {
							margin: rem-calc(0 0 25);
						}
					}
				}
			}
			.part-post {
				h3 {
					margin: rem-calc(0 0 5);
				}
			}
			.part-content,
			.part-post {
				font-size: rem-calc(18);
				font-weight: 500;
				padding: 0;
				@include media('>=desktop') {
					padding: rem-calc(0 90 0 0);
				}
				h3 {
					font-size: rem-calc(24);
					font-weight: 700;
					line-height: 1.4;
				}
				h4 {
					font-weight: 700;
					margin: rem-calc(0 0 10) !important;
					@include media('>=desktop') {
						margin: 0;
					}
				}
				p {
					margin: rem-calc(0 0 25);
				}
			}
			a {
				color: $bittersweet;
				&:hover {
					border-bottom: 2px solid $bittersweet;
				}
			}
		}
	}
}

.post-image {
	margin: rem-calc(0 0 14);
	@include media('>=desktop') {
		margin: rem-calc(0 0 25);
	}
	.image-bg {
		min-height: rem-calc(205);
		margin: rem-calc(0 0 10);
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		@include media('>=desktop') {
			min-height: 430px;
		}
	}
	.caption {
		color: $tundora;
		line-height: 1.2;
		display: block;
	}
}