#footer {
	padding: rem-calc(20 0);
	background: $casal;
	position: relative;
	@include media('>=desktop') {
		padding: rem-calc(35 0);
	}
	a,
	address {
		color: $white;
		font-size: rem-calc(18);
		font-weight: 700;
	}
	a {
		text-decoration: none;
	}
}

.link-col {
	line-height: 1.35;
	display: flex;
	flex-direction: column;
	a {
		display: inline-block;
		margin: rem-calc(0 0 15);
		i {
			position: relative;
			top: -1px;
			right: 0;
			font-size: rem-calc(10);
			transition: $animation-speed;
		}
		&:hover {
			i {
				right: -10px;
			}
		}
	}
}

.social-networks {
	padding: rem-calc(0 5);
	li {
		margin-right: rem-calc(20);
		a {
			color: $bittersweet !important;
			font-size: rem-calc(30) !important;
			background: $white;
			border-radius: 50%;
			width: rem-calc(50);
			height: rem-calc(50);
			padding: rem-calc(10);
			opacity: 1;
			transition: $animation-speed;
			&:hover {
				// color: $white !important;
				// background: $bittersweet;
				opacity: .8;
			}
		}
	}
}