#header {
	position: relative;
	padding: rem-calc(12 0);
	transition: $animation-speed;
	&.header-fixed {
		z-index: 2;
		box-shadow: 0 7px 9px rgba($black, .3);
		@include media ('>=desktop') {
			padding: rem-calc(30 0 15);
			// padding: rem-calc(30 0 24);
		}
	}
}

.nav-opener {
	display: block;
	margin: 0 auto;
	width: 48px;
	height: 48px;
	position: relative;
	@include media ('>=desktop') {
		display: none;
	}
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(45deg);
			top: 50%;
			left: 5%;
			right: 5%;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background: $white;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 7px;
		border-radius: rem-calc(10);
		margin-top: 0;
		transition: $animation-speed;
	}
	&:before,
	&:after {
		content:'';
		top:25%;
	}
	&:after {
		top:77%;
	}
}

.drop {
	@include media('<desktop') {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		opacity: 0;
		background-color: $casal;
		transition: $animation-speed;
	}
	.nav-active & {
		@include media('<desktop') {
			opacity: 1;
			position: absolute;
			visibility: visible;
			z-index: 2;
			box-shadow: 0 7px 9px rgba($black, .3);
		}
	}
}

#nav {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-size: rem-calc(19);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	margin: 0;
	@include media('>=desktop') {
		// flex-wrap: nowrap;
		padding: 0;
	}
	li {
		padding: rem-calc(0 18);
		margin: 0;
		&:last-child {
			padding: rem-calc(0 0 0 18);
		}
		@include media ('<desktop') {
			width: 100%;
			padding: rem-calc(12 18);
			&:last-child {
				padding: rem-calc(13 0);
			}
		}
		a {
			display: block;
			text-decoration: none;
			padding: 0;
			margin: rem-calc(0 0 10);
			transition: $animation-speed;
			@include media('>=desktop') {
				background-color: transparent;
			}
			&.active,
			&:hover{
				color: $bittersweet;
			}
		}
	}
}

.landuage {
	font-size: rem-calc(19);
	font-weight: 700;
	margin: rem-calc(0 -10);
	li {
		padding: rem-calc(0 6);
		a {
			display: block;
			position: relative;
			transition: $animation-speed;
			&:before {;
				content: '';
				position: absolute;
				border-radius: 50%;
				opacity: 0;
				top: rem-calc(12);
				left: rem-calc(-12);
				width: rem-calc(6);
				height: rem-calc(6);
				background-color: $bittersweet;
			}
			&.active{
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

.resize-active {
	* {
		transition: none !important;
	}
}

.box-nav {
	padding: rem-calc(32 0);
	@include media('>=desktop') {
		padding: 0;
	}
}

.form-inline {
	// right: 0;
	margin: rem-calc(0 0 20);
	// position: relative;
	@include media('>=desktop') {
		margin: rem-calc(0 32 0 0);
	}
	.btn-holder {
		display: block;
		width: 100%;
	}
	.search-open {
		background: none;
		cursor: pointer;
		font-size: rem-calc(19);
		font-weight: 700;
		letter-spacing: 0.5px;
		padding: rem-calc(0 35 0 8);
		color: $white;
		&:focus {
			outline: none;
		}
		&:after {
			display: none;
		}
		.icon-search {
			font-size: rem-calc(18);
			top: 6px;
			right: 4px;
			transform: rotate(90deg);
		}
	}
	.dropdown-menu {
		top: -5px !important;
		right: 0 !important;
		left: inherit !important;
		padding: 0 !important;
		margin: 0;
		transform: none !important;
		@include media('<desktop') {
			right: -60% !important;
		}
		@include media('<tablet') {
			right: -40% !important;
		}
		button[type="submit"] {
			top: 0;
			right: 0;
			font-size: rem-calc(18);
			padding: rem-calc(6 12 2);
			color: $trout;
			height: 37px;
			margin: 0 !important;
			transform: rotate(90deg);
		}
	}
}

.form-control {
	width: 100%;
	background-color: $white;
	font-size: rem-calc(14);
	font-weight: 700;
	padding: rem-calc(7 40 7 10);
	height: 37px;
}