// custom variables and override bootstrap variables

// $body-bg: #fff;

$white:  #fff;
$trout: #495057;
$dove-gray: #6a6a6a;
$seashell: #f2f0f0;
$tundora: #4a4a4a;

$gray: #838383;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$black:  #000;

$fountain-blue: #66b1c2;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;

$bittersweet:  #fc7070;

$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;

$casal:   #346773;
$big-stone: #142f36;

$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// $colors: (
// 	blue: $blue,
// 	indigo: $indigo,
// 	purple: $purple,
// 	pink: $pink,
// 	red: $red,
// 	orange: $orange,
// 	yellow: $yellow,
// 	green: $green,
// 	teal: $teal,
// 	cyan: $cyan,
// 	white: $white,
// 	gray: $gray-600,
// 	gray-dark: $gray-800 
// 	);

	$primary:       $bittersweet;
	$secondary:     $casal;
	$success:       $fountain-blue;
	$info:          $cyan !default;
	$warning:       $yellow !default;
	$danger:        $red !default;
	$light:         $gray-100 !default;
	$dark:          $gray-800 !default;


$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
	);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 4.5),
	7: ($spacer * 6),
	8: ($spacer * 7.5),
	9: ($spacer * 9),
	10: ($spacer * 10.5)
	), $spacers);

$base-min-width: 320px;

// This is the default html and body font-size for the base rem value.

$rem-base: 16px;

// Animation-speed

$animation-speed: all 0.3s linear;

// Body

$body-bg:                   $white;
$body-color:                $dove-gray;


// Links

$link-color: theme-color("light");
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration:     none;

// Fonts

$font-family-sans-serif: 'Quicksand', "Arial", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;

$font-family-base: $font-family-sans-serif;

$font-weight-base:            $font-weight-normal;

$font-size-base: 1rem; // Assumes the browser default,

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

$h1-font-size: 26px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 20px;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


// Grid breakpoints

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1400px
	);

// Grid containers
$container-max-widths: (
	sm: 1140px,
	);

// Grid columns

$grid-columns: 12;
$grid-gutter-width: 30px;

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

// Forms

$input-border-radius: 0;
$input-border-color: $casal;
$input-bg: $casal;
$input-focus-bg: none;
// $input-color: $white;
// $input-focus-color: $white;




// Navs

// $nav-tabs-link-active-color: rgba($primary);


// Navbar

$navbar-light-active-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-color: $white;
$navbar-light-active-color: $primary;

